#menu {
    box-shadow: 0px 1px 5px gray;
    height:60px;
    text-align: right;
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 2;
}
.links{
    margin: 0 10px;
}

#logo {
    font-size: 1.8rem;
    font-weight: bold;
    float:left;
    margin:15px;
    color: deepskyblue;
}

#menu .links a {
    font-size: 1.1rem;
    display: inline-block;
    padding: 20px 10px;
    transition: .3s;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

#menu .links a:hover {
    border-bottom: 5px solid deepskyblue;
}